<a href="https://colab.research.google.com/github/jyc3129/python/blob/main/%E9%84%AD%E5%AE%87%E8%BB%92_ipynb%E7%9A%84%E5%89%AF%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = eval(input("請輸入："))
a

b=a+1
b

In [ ]:
a,b = eval(input("請輸入兩個數位："))
a,b

請輸入兩個數位：5,6

(5, 6)

In [ ]:
a = 33
b = 200

if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
a = 33
b = 20

if b > a:
  print("b is greater than a")

In [ ]:
a = 32
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

b is greater than a

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
year= eval(input("請輸入年"))

if ((year%400==0) or (year%4==0 and year%100!=0)):
  print("{0} 是閏年".format(year))
else:
  print("{0} 不是閏年".format(year))

請輸入年99
99 不是閏年

In [ ]:
year= eval(input("請輸入年"))

if ((year%400==0) or (year%4==0 and year%100!=0)):
  print("{0} 是閏年".format(year))
else:
  print("{0} 不是閏年".format(year))

請輸入年99
99 不是閏年

In [ ]:
import time

date = time.localtime()	
print(date)

time.struct_time(tm_year=2020, tm_mon=12, tm_mday=8, tm_hour=6, tm_min=4, tm_sec=12, tm_wday=1, tm_yday=343, tm_isdst=0)

In [ ]:
year, month, day = eval(input("請輸入年月日"))
year, month, day

請輸入年月日2019,5,22
(2019, 5, 22)

In [ ]:
day_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

if year%400==0 or (year%4==0 and year%100!=0):	
  day_month[1] = 29

In [ ]:
if month==1:
    print(day)
else:
    print(sum(day_month[:month-1])+day)